<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalogue</title>
    <link rel="stylesheet" href="styles/catalogue.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/effects.css" />
  </head>
  <body>
    <%- include("../partials/header") -%>

    <main class="content">
      <div id="art-gallery" class="art-gallery">
        <% catalogues.forEach(art => { %>
        <div class="art-description">
          <img src="<%= art.imageUrl %>" alt="Artwork" class="art-image" />
          <div class="art-details">
            <h1 class="art-title">TITLE : <%= art.title %></h1>
            <p class="art-artist">ARTIST : <%= art.artist %></p>
            <p class="art-date">
              DATE : <%= art.creationDate.toDateString() %>
            </p>
            <p class="art-medium">MEDIUM : <%= art.medium %></p>
            <p class="art-dimensions">DIMENSIONS : <%= art.dimensions %></p>
            <p class="art-description">DESCRIPTION : <%= art.description %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </main>

    <script src="scripts/script.js"></script>

    <%- include("../partials/footer") -%>
  </body>
</html>
